.stories {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 2%;
  margin: 3% 0 20%;
  padding-bottom: 10%;
}

@media only screen and (max-width: 1050px) {
  .stories {
    grid-template-columns: repeat(2, auto);
  }
}
@media only screen and (max-width: 680px) {
  .stories {
    grid-template-columns: repeat(1, auto);
    gap: 1%;
  }
}
