.body {
    font-family: 'Cormorant SC', serif;
    margin-top: 4%;
    padding: 0;
}

.ulProducts-user {
    display: grid;
    row-gap: 5%;
    column-gap: 2%;
    grid-template-columns: repeat(5,auto);
    justify-content: center;
}
.oneProduct {
    width: 205px;
}


@media only screen and (max-width: 1700px) {
    .body{
        display: flex;
        flex-direction: row;
    }
    .ulProducts-user {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0 auto;
    }
  }