.body {
    font-family: 'Cormorant SC', serif;
    margin-top: 4%;
    padding: 0;
}

.ulProducts {
    display: grid;
    row-gap: 5%;
    column-gap: 2%;
    grid-template-columns: repeat(5,auto);
    justify-content: center;
}
.oneProduct {
    width: 205px;
}