 /* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;

} */

.body {
  font-family: "Cormorant SC", serif;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 3%;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 13%;
  padding: 0;
}


.ulProducts {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 3%;
  justify-content: start;
}

.filter {
  min-width: 350px;
}

.inputs {
  padding-left: 52%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  margin: 10px 0;
  text-transform: lowercase;
  width: 200px;
  height: 50px;
  text-align: center;
  border: 1px solid #711d6f;
}

.search:focus-visible{
  border: 1px solid #711d6f;
}

.filters_inputs {
  display: flex;
  flex-direction: column;
  gap: 3%;
  align-items: center;
  color: gray;
 
}

.filter_price {
  border: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 0 10px;
  border: none;
}
.filter_price:focus{
  border: none;
}
.filter_price_label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0 10px;
  margin-bottom: 2%;
  border: 1px solid #711d6f;
}

.filter_price_text {
  font-size: 16px;
}





@media only screen and (max-width: 1560px) {
  .ulProducts {
 
    grid-template-columns: 10% 90%;
    grid-template-columns: repeat(4, auto);
  }
}
@media only screen and (max-width: 1470px) {
  .inputs {
    padding-left: 0;

  }
  .ulProducts {

    margin-bottom: 10%;
  }
}


  @media only screen and (max-width: 1210px) {

    .ulProducts {
      margin-bottom: 35%;
      grid-template-columns: repeat(3, auto);
    }
  }
  @media only screen and (max-width: 1100px) {

    .ulProducts {
      margin-bottom: 45%;
    margin-left: 5%;
    }
  }
  @media only screen and (max-width: 930px) {
    .ulProducts {
      margin-bottom: 60%;
      margin-left: 15%;
      grid-template-columns: repeat(2, auto);
    }
  }
  @media only screen and (max-width: 920px) {
    .ulProducts {
      margin-bottom: 160%;
 
    }
  }
  @media only screen and (max-width: 700px) {
    .ulProducts {
      margin-bottom: 700px;
      margin-left: 25%;
      grid-template-columns: repeat(1, auto);
      gap: 0.5%;
    }
  }

  @media only screen and (max-width: 570px) {
    .body {
      margin-bottom:30px;
      max-width: 400px;
     display: flex;
     flex-direction: column;
    }
    .ulProducts {
      margin-left: 10%;
      margin-bottom: 70%;
      grid-template-columns: repeat(2, auto);
    }
    .filter {
      min-width: 250px;
      margin-left: 30%;
      margin-bottom: 5%;
    }
  }