@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;500;600;700&display=swap');
.container{
    font-family: 'Cormorant SC', serif;
    display: flex;
    flex-direction: row;
    margin: 10% 5% !important;
    align-items: center !important;
    /* justify-content: space-around !important; */
}

.map{
    height: 400px;
    width: 70% !important;
}
.map-text{
    width: 30% !important;
    margin-right: 5% !important;
}
.marker{
    background-image: url('https://img.icons8.com/material-outlined/344/place-marker--v1.png');
    background-size: cover;
    width: 22px;
    height: 22px;
    background-color: yellow;
    border-radius: 11px;
    border: solid 3px darkblue;
}

.marker-delivery{
    width: 10px;
    height: 10px;
    background-color: red;
}

.title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 2%;
}


.description-map{ 
    margin-top: 5%;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 400;
}



.cat {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.catGif {
    width: 40%;
    height: 40%;
    position: relative;
    animation: levelFlight 5s forwards;
}

.catGifSitting {
    width: 15%;
    height: 15%;
    position: relative;
    right: 1250px;
    top: -40px
}

@keyframes levelFlight {
    from { right: -800px; top: 60px}
    to { right: 2100px; top: 60px}
}

