.events {
    display: grid;
    grid-template-columns:repeat(2, auto);
    justify-content: space-around;
    gap: 3%;
    margin: 3%;
}

.events-list {
    display: grid;
    grid-template-columns:repeat(4, auto);
    gap: 3%;
}

.event {
    margin-left: 3%;
}
@media only screen and (max-width: 1750px) {
    .events {  
        grid-template-columns:repeat(2, auto);
        gap: 1%
    }
    .events-list {  
        grid-template-columns:repeat(3, auto);
        gap: 1%
    }
  }
@media only screen and (max-width: 1050px) {
    .events {  
        grid-template-columns:repeat(1, auto);
        gap: 1%
    }
    .events-list {  
        grid-template-columns:repeat(2, auto);
        gap: 1%
    }
  }
  @media only screen and (max-width: 680px) {
    .events {  
        grid-template-columns:repeat(1, auto);
        gap: 1%;
    }
    .events-list {  
        grid-template-columns:repeat(1, auto);
        gap: 1%
    }
  }

