@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

.header{
    font-family: 'Calligraffitti', cursive;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
}

.link {
    color: white;
    text-decoration: none;
}
.link-sidebar {
    color: black;
    text-decoration: none;
    font-family: 'Calligraffitti', cursive;
    font-weight: bold;
}

.link-home{
    display: flex;
    align-items: center;
    gap: 10%;
}

/* .link-sidebar :link { text-decoration: none; }
.link-sidebar :visited { text-decoration: none; }
.link-sidebar :hover { text-decoration: none; }
.link-sidebar :active { text-decoration: none; } */
